* {margin: 0; padding: 0; box-sizing: border-box;}
body {font-family: "Montserrat", sans-serif; font-size: 14px;}

header {height: 100px; background-color: #222;}
.header {margin: auto; max-width: 1440px; height: 100px;}
.headerMargin {margin: 0 2%; display: flex; align-items: center;}
.logo {width: 100px;}
.logo img {width: 80%;}
.menu {flex: 1; display: flex; justify-content: flex-end;}
.menu-opener {display: none;}
.menu ul {display: flex;}
.menu li {list-style-type: none;}
.menu li a {display: flex; align-items: center; height: 100px; padding: 0 20px; font-weight: 500; text-decoration: none; color:#F6F6F6; border-bottom: 4px solid #222;}
.menu .active a, .menu li a:hover{ border-bottom: 4px solid #B28756; color: #CCC;}

.banner {height: calc(100vh - 100px); background-image: url(/assets/images/bgBanner.png); background-size: cover; background-position: top;}
.banner .swiper, .banner .swiper-wrapper, .banner .swiper-slide {height: 100%;}
.banner .swiper-slide {display: flex; flex-direction: column; justify-content: center; align-items: center; color: #F6F6F6;}
.banner h1 {font-size: 50px; font-weight: bold; text-align: center;}
.banner h1 span {color: #B28756}
.banner p {margin-top: 10px; font-weight: bold;}
.banner a {display: block; font-size: 12px;  background-color: #B28756; color: #F6F6F6; font-weight: 600; text-decoration: none; padding: 10px 30px; margin-top: 30px; border-radius: 10px;}
.banner .swiper-pagination {margin-bottom: 50px;}
.banner .swiper-pagination-bullet {width: 15px; height: 15px; border: 2px solid #B28756; background-color: transparent;}
.banner .swiper-pagination-bullet-active {background: #B28756;}

.default {padding: 50px 0; margin: 0 2%;}
.default h3 {font-size: 25px;}
.default p {font-size: 10px; margin: 10px 0 40px 0; font-weight: bold; color: #CCC;}
.default h3, p {text-align: center;}
.default a, .projects button {font-size: 12px;  background-color: #B28756; color: #F6F6F6; font-weight: 600; text-decoration: none; padding: 10px 30px; border-radius: 10px;}
.default-body {max-width: 1440px; margin: auto;}
.light {background-color: #F6F6F6;}
.light .default-body {color: #222;}
.dark {background-color: #222;}
.dark .default h3 {color: #F6F6F6;}
.dark .default-body {color: #CCC;}

.about-us {display: flex; align-items: center; justify-content: center; gap: 20px;}
.about-us--left {text-align: end; width: 580px;}
.about-us--left p {font-size: 18px; font-weight: 500; text-align: end; color: #222; margin-bottom: 20px;}
.about-us--right img {width: 480px; box-shadow: 10px 10px 10px #333;}

.services {display: flex;}
.service {flex: 1; text-align: center; padding: 20px 10px 0 10px;}
.service h3 {margin-top: 20px; font-size: 18px;}
.service p {margin-top: 10px; color: #CCC; font-size: 13px;}

.projects {display: flex; flex-direction: column; align-items: center;}
.projects button {margin-top: 30px; padding: 10px 50px; border: 0; cursor: pointer;}
.projects-filters {border: 1px solid #CCC; background-color: #EEE; border-radius: 20px; display: inline-block; padding: 0 20px;}
.projects-filters li {list-style-type: none; cursor: pointer; display: inline-block; padding: 15px; font-size: 12px; border-left: 1px solid #CCC; color: #555;}
.projects-filters li:first-child {border: 0;}
.projects-filters li:hover, .projects-filters li.active{color: #B28756; font-weight: bold;}
.projects-photos {display: grid; grid-template-columns: repeat(4, 1fr); margin-top: 20px; gap: 20px;}
.projects-photo {width: 270px; height: 170px; cursor: pointer; background-color: #B28756}
.projects-photo img {width: inherit; height: inherit;}
.projects-photo img:hover {opacity: 0.7;}
.photo-modal {position: fixed; inset: 0; background-color: rgba(0, 0, 0, 0.9); z-index: 1000; display: none;}
.photo-modal img {margin: auto; border-radius: 20px;}
.photo-modal .close-modal {position: absolute; top: 20px; right: 40px; color: #F6F6F6; font-size: 40px; font-weight: bold; cursor: pointer; transition: 0.3s;}
.photo-modal .close-modal:hover {color: #B28756;}

.team {background-image: url(/assets/images/bgTeam.png); background-size: cover; background-position: center;}
.team .default-body {max-width:880px;}
.swiper-team .swiper-slide {display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: #F6F6F6; border-radius: 10px; padding: 40px 0px;}
.team-avatar {width: 150px; height: auto; border-radius: 50%;}
.team-name {color: #222 !important; font-size: 18px !important; margin: 30px 0 0 0 !important;}
.team-role {font-size: 14px !important; margin-top: 5px !important; color: #999 !important;}
.team-social {display: flex;}
.team-social a {display: inline-flex; justify-content: center; align-items: center; width: 25px; height: 25px; padding: 20px; margin: 0 2px; border-radius: 25px; background-color: #CCC;}
.team-social a:hover {background-color: #B28756;}

.swiper-testimonials .swiper-slide {display: flex; flex-direction: column; justify-content: center; align-items:center;}
.testimonials-avatar {width:100px; border-radius: 50%;}
.testimonials-name {font-size: 18px !important; color: #222 !important; margin: 30px 0 0 0 !important;}
.testimonials-role {font-size: 14px; margin: 5px 0 0 0 !important; color: #999 !important;}
.testimonials--quoteImg {margin-top: 30px;}
.testimonials-quote {margin-top: 10px; color: #222 !important; font-weight: normal !important; font-size: 13px !important; max-width: 700px; color: #555; text-align: center; line-height:25px;}
.swiper-testimonials .swiper-pagination {margin-bottom: 0px;}
.swiper-testimonials .swiper-pagination-bullet {width: 15px; height: 15px; border: 2px solid #B28756; background-color: transparent;}
.swiper-testimonials .swiper-pagination-bullet-active {background: #B28756;}

.facts {display: flex; justify-content: space-around;}
.fact {text-align: center;}
.fact p {color: #B28756; font-size: 45px; margin-bottom: 0;}
.fact-line {width: 30px; border-bottom: 2px solid #B28756; margin: auto;}
.fact p:last-child {margin-top: 20px; font-size: 12px; color: #F6F6F6;}

.default-contact {padding: 50px 0 0 0; }
.contact {max-width: 450px; margin: auto; text-align: center;}
.contact--split {display: flex;}
.contact--split input:first-child {margin-right: 20px;}
.contact input[type=text], .contact textarea {display: block; width: 100%; height: 40px; border: 0; background: transparent; border-bottom: 1px solid #CCC; outline: 0; margin-top: 10px;}
.contact textarea {height: 100px; resize: none;}
.contact .button {display: inline-block; background-color: #B28756; color: #F6F6F6; font-size: 12px; font-weight: 600; text-decoration: none; padding: 10px 30px; margin-top: 30px; border-radius: 10px; border: 0;}

.map {background-image: url(/assets/images/mapa.jpg); margin-top: 30px; padding: 30px;}
.map-area {max-width: 1140px; margin: auto;}
.map-info {padding: 30px; background-color: #F6F6F6;}
.map-info--item {display: flex; align-items: center; color: #999; margin-bottom: 10px;}
.map-info--img {width: 30px; height: 30px; display: inline-flex; justify-content: center; align-items: center; padding: 20px; background-color: #999; border-radius: 20px; margin-right: 20px;}

footer {background-color: #222; padding: 20px;}
.footer {max-width: 1140px; margin: auto; color: #F6F6F6; display: flex;}
.footer-social {display:flex; align-items: center;}
.footer-social a {width: 45px; height: 45px; background-color: #333; display: flex; justify-content: center; align-items: center; border-radius: 45px; margin-right: 10px;}
.footer-social a:hover {background-color: #B28756;}
.footer-text {color: #999; line-height: 20px; font-size:14px; padding: 10px;}