* {margin: 0; padding: 0; box-sizing: border-box;}
body {font-family: "Montserrat", sans-serif; font-size: 14px;}

header {height: 100px; background-color: #222;}
.header {margin: auto; max-width: 1440px; height: 100px;}
.headerMargin {margin: 0 2%; display: flex; align-items: center;}
.logo {width: 100px;}
.logo img {width: 80%;}
.menu {flex: 1; display: flex; justify-content: flex-end;}
.menu ul {display: flex;}
.menu li {list-style-type: none;}
.menu li a {display: flex; align-items: center; height: 100px; padding: 0 20px; font-weight: 500; text-decoration: none; color:#F6F6F6; border-bottom: 4px solid #222;}
.menu .active a, .menu li a:hover{ border-bottom: 4px solid #B28756;}