@media (min-width:450px) and (max-width:800px) {
  .menu-opener {display: block; width: 30px;}
  nav {display: none; position: absolute; z-index: 99; background-color: rgba(0, 0, 0, 0.9); width: 70vw; height: calc(100vh - 100px); top: 100px; right: 0;}
  nav.open {display: flex;}
  .menu ul {flex-direction: column;}
  .menu li a {font-weight: bold; height: 80px; font-size: 20px; margin-left: 50px; border: 0;}
  .menu li.active a {border: 0; color: #B28756;}


  .about-us {flex-direction: column;}
  .about-us--left, .about-us--left p {text-align: center;}
  .about-us--right {margin-top: 20px;}

  .services {flex-wrap: wrap;}
  .service {min-width: 50%;}

  .projects-filters {padding: 10px;}
  .projects-filters li {padding: 5px;}
  .projects-photos {grid-template-columns: repeat(2, 1fr);}
  .photo-modal img {width: 90%;}

  .team .default-body {max-width: 600px;}
  .testimonials-quote {max-width: 500px;}

  .default-contact {margin: 0;}
  .map {padding-left: 30px; padding-right: 30px;}
  .map-info {width: auto;}

  .footer {display: block;}
  .footer-text {margin-top: 10px;}
}


@media (max-width:450px) {
    .logo {margin-left: 30px;}
    .menu-opener {display: block; width: 30px; margin-right: 30px;}
    nav {display: none; position: absolute; z-index: 99; background-color: rgba(0, 0, 0, 0.9); width: 80vw; height: calc(100vh - 100px); top: 100px; right: 0;}
    nav.open {display: flex;}
    .menu ul {flex-direction: column;}
    .menu li a {font-weight: bold; height: 60px; font-size: 18px; margin-left: 30px; border:0;}
    .menu li.active a {border: 0; color: #B28756;}

    .banner h1 {font-size: 30px;}
    .banner p {font-size: 15px;}

    .about-us {flex-direction: column;}
    .about-us--left {width: 80%;}
    .about-us--left, .about-us--left p {text-align: center;}
    .about-us--right {margin-top: 20px;}
    .about-us--right img {display: none;}

    .services {display: block;}

    .projects-filters {padding: 5px; text-align: center;}
    .projects-filters li {padding: 15px;}
    .projects-photos {grid-template-columns: repeat(1, 1fr); margin: 20px 2% 0 2%;}
    .projects-photo {width: 100%; height: 100%;}
    .photo-modal img {width: 90%;}

    .team .default-body {max-width: 300px;}
    .testimonials-quote {max-width: 300px;}

    .facts {display: block;}
    .fact {margin: 40px 0;}

    .default-contact {margin: 0;}
    .contact {margin: 0 2%}
    .contact--split {flex-direction: column;}
    .map-area {width: 100%; }
    .map-info {width: 98%; margin: auto;}

    .footer {flex-direction: column;}
    .footer-text {margin-top: 20px;}
}